html {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: linear-gradient(180deg, #2e2f33 0%, #181a19 100%);
}
body {
  color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Oxygen", "Helvetica Neue", Arial, sans-serif;
}
main {
  display: flex;
  justify-content: center;
}
h1,
h2 {
  font-weight: lighter;
}
a {
  color: white;
  text-decoration: none;
}
p {
  line-height: 1.5;
}
